Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*
HeaderFilterRegex: '.*/ch0[3-7]/.*'
FormatStyle: file
